.header {
    position: relative;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
}

.site-navigation {
    display: flex;
    align-items: center;
}

.site-navigation__list {
    display: flex;
    margin-left: 93px;

    .site-navigation__item+.site-navigation__item {
    margin-left: 50px;
}
}

.link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.link.current {
    position: relative;
    color: var(--accent-color);

    &::after {
    content: '';
    position: absolute;
    margin-top: 11px;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 1;
}
}

.connection {
    display: flex;
    margin-left: auto;

    .connection__item+.connection__item {
    margin-left: 30px;
}
}

.connection__link {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
    .connection__icon {
    fill: currentColor;
    margin-right: 10px;
}
} 

@media screen and (max-width: 767px) {
    .main-navigation__button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        display: inline-flex;
}
}

@media screen and (max-width: 767px) {
    .main-navigation__button .icon__close {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main-navigation__button.is-open .icon__close {
    display: block;
}
}

@media screen and (max-width: 767px) {
    .main-navigation__button.is-open .icon__menu {
    display: none;
    }
}

@media screen and (max-width: 767px) {
    .main-navigation {
        top: 100%;
        width: 100%;
        height: 796px;
        position: absolute;
        background-color: var(--button-text-color);
        border: 1px solid rgba(236, 236, 236, 1);
        left: 0;
            &.is-open {
                display: block;
            }
    }
}


