.hero {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.hero__overlay {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  outline: 1px solid var(--overlay);
  background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)), url("../images/header mobimg1x.jpg");
  background-color: var(--bcg-hero-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  @media screen and (min-width: 480.98px) {
    background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)), url("../images/header imgtab1x.jpg");  
  }

  @media screen and (min-width: 768.98px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)), url("../images/hero.jpg");
  }
}

@media screen and (min-width: 479.98px) {

  @media screen and (min-device-pixel-ratio: 2),
  screen and (--webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)), url("../images/header mobimg2x.jpg");
    }
  }
}

@media screen and (min-width: 769.98px) { 
  @media screen and (min-device-pixel-ratio: 2),
  screen and (--webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)), url("../images/header imgtab2x.jpg");
    }
  }
}

@media screen and (min-width: 1199.98px) {

  @media screen and (min-device-pixel-ratio: 2),
  screen and (--webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
      max-width: 1600px;
      height: 600px;
      background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)), url("../images/hero.jpg");
    }
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--button-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  min-width: 216px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
}