.site-navigation .logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.footer__container .logo {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.logo--blue {
    color: var(--accent-color);
}

.logo--black {
    color: var(--logo-first-color);
}

.logo--white {
    color: var(--button-text-color);
}