.menu-btn {
    display: inline-flex;
    z-index: 101;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    border: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-btn.is-open .menu__open {
    display: none;
}

.menu-btn.is-open .menu__close {
    display: block;
}

.menu_box {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    display: none;
}

.menu_box.is-open {
    display: flex;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100vh;
}

@media screen and (max-width: 767px) {

.site-navigation__list {
    display: flex;
    -webkit-box-direction: normal;
    list-style: none;
    flex-direction: column;
    gap: 32px;
    -webkit-box-orient: vertical;
}

    .site-navigation__item {
        display: block;
    }
        .site-navigation__list .link {
            display: block;
                color: #212121;
                font-weight: 500;
                font-size: 40px;
                line-height: 1.18;
                letter-spacing: .02em;
                text-decoration: none;
                
                transition-property: color;
               
                transition: color 250ms var(--timing-function);
        }

    .site-navigation__list .link.current {
        position: relative;
    color: #2196f3;
    }

    .connection {
        display: flex;
        vertical-align: top;
        flex-direction: column-reverse;
        margin-top: auto;
        margin-bottom: 64px;
        gap: 32px;
    }

    .connection__item {
        display: inline-flex;
    }

    .connection__link {
        display: flex;
        -webkit-box-align: center;
        color: var(--secondary-text-color);
        fill: var(--secondary-text-color);
        font-size: 24px;
        font-weight: 500;
        letter-spacing: .02em;
        line-height: 1.17;
        text-decoration: none;
        transition-property: color, fill;
        transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
    }

}



