.portfolio {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    
    .portfolio__title--none {
    display: none;
}
}

.portfolio-button__list {
    display: flex;
    justify-content: center;

    .portfolio-button__item+.portfolio-button__item {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 8px;
    margin-bottom: 50px;
}
}

@media screen and (max-width: 767px) {
    .portfolio-button {
        display: flex;
        flex-wrap: wrap;
        // width: calc((100% - 4 * 8px)/ 5);
    }
}
   

.portfolio__button {
    display: inline-block;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    min-width: 73px;

    background-color: var(--bcg-button-color);
    color: var(--primary-text-color);
    box-shadow: none;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.projects__type {
    padding: 20px 24px;

    .projects__name {
        margin-bottom: 4px;
        color: var(--primary-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
}
    .projects__app {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.9;
        text-align: left;
}
}

.projects__list {
     @media screen and (max-width: 767px) {
        .features__item:not(:last-child) {
            margin-bottom: 30px;
    }
    }
    @media screen and (min-width: 768px) {    
        display: flex;
        flex-wrap: wrap; gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.projects__item {
    display: block;
    position: relative;
    width: 100%;
    // margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--color-border-projects);
    overflow: hidden;
    transition: box-shadow 250ms var(--timing-function), border 250ms var(--timing-function);
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/ 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 2 * 30px)/ 3);
    }
   &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid var(--color-border-projects);
}

    & {
    @extend %mr-0;
}

    & {
    @extend %mb-0;
}
}

.projects__box {
    display: block;
    content: '';
    position: relative;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
  
}

.projects__item:hover .projects__overlay {
    transform: translateY(0);
}

.projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

    p {
    padding: 63px 24px;

    color: var(--button-text-color);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}
}

