.works {
    @media screen and (max-width: 1199px) {
            margin: 0;
            padding: 0;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        padding-top: 0px;
        padding-bottom: 94px;
    }

    @media screen and (max-width: 1199px) {
        padding-bottom: 0;
    }
}

.works__title { 
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.works__list {
    display: none;

    @media screen and (min-width: 1200px) {    
        display: flex;
        justify-content: center;
    }
}

.works__item {
    display: block;
    content: '';
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    
    & {
            @extend %mrlast-0;
}
}  

.thumb__text {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}

.thumb>.thumb__card {
    display: none;
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            content: '';
            position: absolute;
            width: 370px;
            height: 70px;
            bottom: 0;
            justify-content: center;
            color: var(--button-text-color);
            background-color: var(--color-thumb-text);
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
}

.thumb__img {
    display: block;
}

@media screen and (min-width: 768.98px) {
    @media screen and (min-device-pixel-ratio: 2),
    screen and (--webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .works__item.first {
            height: 294px;
            background-image: url("../images/imgdesk2x1.jpg");
        }
    }
}

@media screen and (min-width: 768.98px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (--webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .works__item.second {
            height: 294px;
            background-image: url("../images/imgdesk2x2.jpg");
        }
    }
}

@media screen and (min-width: 768.98px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (--webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .works__item.third {
            height: 294px;
            background-image: url("../images/imgdesk2x3.jpg");
        }
    }
}